@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto+Serif:ital,wght@0,100;0,200;1,100&family=Roboto:wght@100;300;400&display=swap");
:root {
  --playfair: "playfair Display", serif;
  --Poppins: "Poppins" "sans-serif";
  --Roboto: "Roboto" "Gill sans";
  --dark: black;
  --white: white;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto+Serif:ital,wght@0,100;0,200;1,100&display=swap");
:root {
  --playfair: "playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --white: #fff;
  --box-shadow1: 0 2px 10px rgba(0, 0, 0, 0.3);
  --skyblue: rgba(14, 178, 243, 0.9);
  --light-color:#666;
  --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
  border: none; outline: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
body {
  line-height: 1.4;
  overflow-x: hidden;
}
img {
  width: 100%;
  display: block;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 88px;

}
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: transparent;
  padding: 16px 7%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  
  
}

.logo{
  font-size: 27px;
  color: var(--white);
}
.logo .fa{
 color: var(--skyblue);
}
.logo span{
  color: var(--skyblue);
  font-size: 20px;
}

.navbar a{
  margin-left: 30px;
  color: var(--white);
  font-size: 17px;
  display: inline-block;
}
.navbar a::after{
 content: "";
 width: 0;
 height: 2px;
 background-color: var(--skyblue);
 display: block;
 margin: auto;
 transition: all 0.5s ease;
}
.navbar a:hover::after{
  width: 100%;
}
.icon .fas{
  display: none;
}
.navBar.sticky{
  background-color: var(--white);
  color: var(--light-color);
  
}


.navBar.sticky .navbar a{
 color: var(--light-color);
}
.navBar.sticky  .logo{
  color: var(--dark);
}

/* home styling begins */
.home{
  background-image: url(assets/sch1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.text {
 color: var(--white);
}
.text h2{
  font-size: 30px;
}
.text p{
font-size: 22px;
font-weight: bolder;
margin-bottom: 30px;
}
.home .text a, .contact-header a{
  background-color: transparent;
  padding: 10px 24px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid var(--white);
  color: var(--white);
  display: inline-block;
  position: relative;
}
.home .text a:hover, .contact-header a:hover{
  background-color: var(--skyblue);
  border: 1px solid var(--skyblue);
  transition: 1s;

}

/* home styling ends */

/* courses styling begins */
.courses{
  margin: 70px auto;
}
.courses .container .header{
 
  text-align: center;
  margin: 20px 0;
}
.courses .container .header h3{
  font-size: 22px;
  padding: 10px 0;
}
.courses .container .header p{
  font-size: 19px;
  line-height: 1.3;
}
.courses .container .box-content{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 gap: 30px;
 margin: 50px auto;
}
.container .box-content .card{
  background-color: var(--white);
  box-shadow: var(--box-shadow1);
  padding: 20px 12px;
  font-size: 15px;
  box-sizing: border-box;
  flex-basis: 31%;
}
.container .box-content .card h4{
  margin: 7px 0;
  margin-bottom: 15px;
  font-size: 17px;
}
.container .box-content .card p{
  line-height:1.5;
  word-spacing: 2px;
  opacity: 0.8;
}


/* courses styling ends */

/* about styling begins */
 .facilities, .global{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
 .facil-main, .global-img{
  margin-bottom: 5%;
  text-align: left;
}
.facil-main img, .global-img img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}  
.facil-main span{
 font-size: 17px;
 font-weight: 300;
 font-style: var(--Quicksand);
 
}
.facil-main p{
  padding-top: 10px;
  font-size: 14px;
  opacity:0.7 ;
  padding-bottom: 20px;
}

.global-img img{
  height:500px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.facilities .facilities-header,
.global-content .global-header{
  margin-bottom: 30px;
}
.facilities .facilities-header h2,
.global-content .global-header h2{
  font-size: 27px;
  padding-bottom: 10px;
}
.facilities .facilities-header p,
.global-content .global-header p{
  font-size: 22px;
}
.global-img{
  position: relative;
}
.layer{
  width: 100%;
  height: 500px;
  background-color: transparent;
  position: absolute;
  top:0;
  left: 0;
  border-radius: 10px;
  transition: all 1s ease;
}
.layer h3{
  font-size: 26px;
  font-weight: 500;
  width: 100%;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
}
.layer:hover h3{
  opacity: 1;
  bottom: 49% ;
}
.layer:hover{
  background-color: var(--skyblue);
}


/* about styling ends */

/* blog styling begins */
.blog{
  margin: 70px;
  padding-top: 50px;
}
.blog-header{
 word-spacing: 2px;
 line-height: 1.5;
 text-align: center;
}
.blog-header h2{
  font-size: 30px;
}
.blog-header p{
  font-size: 19px;
}
.blog-box{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--skyblue);
  font-size: 13px;
  padding: 20px;
  border-radius: 7px;
  transition: all 0.5s  ease;
  text-align: left;
  
  
}
.blog-box:hover{
  box-shadow: var(--box-shadow1);
  transform: scale(1.13);
}
.blog-box img{
  width: 80px;
  border-radius: 40px;
  object-fit: cover;
}
.blog-text{
 padding: 8px 0px;
}
.blog-text p{
  padding-bottom: 10px;
 text-shadow: var(--box-shadow);
}
.blog-text span{
  font-weight: 900;
}
.test-text .icon{
  color: gold;
  margin: 10px ;
  right: 0;
  padding-right: 40px;
  position: absolute;
}
/* blog styling ends */

/* contact syling begins */
.contact{
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}
.contact-main{
  text-transform: capitalize;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(assets/basket\ ball2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius:10px;
  text-align: center;
  height: 50vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-header h1{
  font-size: 30px;
  color: var(--white);
  width: 100%;
}

/* contact syling ends */
/* footer styling begins */
.footer{
  margin: 30px auto;
  width: 100%;
  text-align: center;
  align-items: center;
}
.footer-content h3{
  font-size: 26px;
}
.footer-content p{
  font-size: 15px;
}

/* footer styling ends */


/* section2 begins */
.cover-page{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(assets/graduation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-page .text{
  font-size: 27px;
}
.page{
  width: 100%;
  margin: 50px auto;
}
.page-text p{
  word-spacing: 2px;
  line-height: 1.9;
  font-size: 15px;
}
.page-text h2{
  padding-bottom: 10px;
  font-size: 22px;
}
.page-text a{
  background-color: transparent;
  padding: 10px 24px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid var(--skyblue);
  color: var(--skyblue);
  display: inline-block;
  position: relative;
  margin: 20px 0;
}
.page-text a:hover{
  background: var(--skyblue);
  color: var(--white);
}
.page-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* section2 ends */


/* section 3 begins */
.page2{
  margin: 50px 70px;
}
.blog-page .blog-img img{
 width:100% ;
 object-fit: cover;
 height:300px;
}
.blog-page .blog-img h3{
  font-size: 20px;
  padding-top: 10px;
}
.blog-page .blog-img p{
  line-height: 1.9;
  letter-spacing: 1px;
  font-size: 15px;
  padding-bottom: 20px;
}
.table-row{
  display: table;
  width: 100%;
  font-family: var(--Roboto);
  background: transparent;
  padding: 12px 0;
  color:var(--dark);
  font-size: 14px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.table-cell{
  display: table-cell;
  width: 30%;
  text-align: center;
  padding: 4px 0;
}
.ted{
  background-color: crimson;
}
.table-cell1{
  text-align: left;
  padding: 0 10px;
}
.container2{
  width: 100%;
  margin: 50px 0px;
  border: 1px solid rgb(214, 209, 209);
  font-family: var(--playfair);
  text-transform: capitalize;
}
.form h2{
  padding: 20px;
  font-size: 15px;
}
.form-control input {
  width: 90%;
  padding:10px 5px;
  margin: 19px;
  background: rgb(196, 188, 188);
  border: none;
  color: black; 
  display: block;
  border-radius: 3px;
}
input:focus{
  border-color: blue;
  outline: 0;
}
#Comment{
  padding-bottom: 70px;
}
button{
  color: black;
  margin: 10px 20px;
  font-size: 15px;
  border:1px solid rgb(214, 209, 209) ;
  margin-bottom: 30px;
  padding: 10px 30px;
  cursor: pointer;
}
button:hover{
  transform: scale(0.9);
}
/* section 3 ends */

/* section 4 begins */

.address{
  margin: 60px 70px;
  
}
.main1{
  display: flex;
  padding: 20px;
  align-items: center;
}
.main1 .text2{
  padding: 0 10px;
  font-weight: 700;
}
.main1 .text2 p{
  font-size: 14px;
}
.main1 .text2 small{
  opacity: 0.7;
  font-size: 10px;
}
.main1 .fas{
  font-size: 25px;
  color:rgba(171, 221, 241, 0.9) ;
}
.form-control1 input{
  width: 80%;
  padding:7px;
  margin: 10px;
  background: white;
  border: 2px solid gainsboro;
  color:gainsboro; 
  display: block;
  border-radius: 4px;
}
.container3{
  flex-basis: 50%;
}

/* section 4 begins */










































@media (max-width:1008px){

.courses .container .box-content .card{
  font-size: 14px;
}

}
@media (max-width:910px){
  header .navbar{
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    background-color:var(--white) ;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
  }
  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  }
  .navbar a{
    display: block;
    padding: 12px 20px ;
    font-size: 20px;
    color: var(--box-shadow);
  }
  .icon .fas{
    display: block;
    cursor: pointer;
    background: rgb(238, 236, 236);
    border-radius: .5rem;
    padding: 10px 15px;
    font-size: 20px;
    
  }
  .navBar.sticky .icon .fas{
    background-color: var(--white);
  }
  .navBar.sticky .icon .fas:hover{
    background-color: var(--skyblue);
  }
  .icon .fas:hover{
    animation: rotate 2s  linear; transform: rotate(360deg);
    background-color: var(--skyblue);
  }
 /* // Rotate using @keyframes */
 @keyframes rotate{
   0%{
     transform: rotate(0deg);
   }
   50%{
     transform: rotate(180deg);
   }
   100%{
     transform: rotate(360deg);
   }
 }
 .courses .container .box-content {
   display: flex;
   flex-direction: column;
 }
}

@media (max-width:638px){
  html{
    font-size: 55%;
  }
  .text h2{
    font-size: 24px;
  }
  .text p{
    font-size: 15px;
    margin-bottom: 20px;
    }
    .home .text a{
      padding: 10px 12px;
      font-size: 12px;
    }
    .courses .container .header p{
      font-size: 14px;
    }
    header .logo{
      font-size: 20px;
    }
    header .logo .fa{
      font-size: 23px;
    }
    .icon .fas{
      font-size: 17px;
      padding: 7px 10px;
    }
    
    .courses .container .box-content .card{
      font-size: 12px;
     
    }
    .facil-main span{
      font-size: 14px;
    }
    .facil-main p{
      font-size: 11px;
    }
    .blog .blog-header h2{
      font-size: 22px;
    }
    .blog-header p{
      font-size: 17px;
    }
    .contact-header h1{
      font-size: 16px;
    }
    .footer-content h3{
      font-size: 17px;
    }
    .footer-content p{
      font-size: 12px;
    }
    .social-links i{
      font-size: 30px;
      color:rgba(171, 221, 241, 0.9) ;
      
    }
    .cover-page .text{
      font-size: 17px;
    }
    .page-text h2{
      font-size: 16px;
    }
    .page-text p{
      font-size: 12px;
    }
    .page-text a{
      font-size: 13px;
      padding: 8px 16px;
    }
    .blog-page .blog-img h3{
      font-size: 15px;
    }
    .blog-page .blog-img p{
      font-size: 10px;
    }
    button{
      padding: 7px 15px;
      font-size: 11px;
    }
}
@media (max-width:430px){
  .facil-main{
    width: 100%;
  }
  .facil-main img{
    height:400px;
    width: 100%;
  }
   .global-img img{
    height:400px;
    width: 100%;
   }
   .layer{
     height: 400px;
   }
  .facilities .facilities-header h2{
    font-size: 19px;
  }
  .facilities .facilities-header p{
     font-size: 13px;
  }
 
.global-content .global-header h2{
  font-size: 20px;
  padding-bottom: 10px;
}

.global-content .global-header p{
  font-size: 14px;
}
.blog .blog-header h2{
  font-size: 19px;
}
.blog-header p{
  font-size: 13px;
}
.contact-header h1{
  font-size: 13px;
}

}
@media (max-width:338px){
  .courses .container .header h3{
    font-size: 16px;
  }
  .courses .container .header p{
    font-size: 13px;
  }

}
@media (max-width:378px){
  .courses .container .box-content .card p{
    font-size: 10px;
  }
}
@media (max-width:761px){
  .text h2{
    font-size: 27px;
  }
  .text p{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 30px;
  }
  .contact-header h1{
    font-size: 18px;
  }
}
@media (min-width:761px){
  .facilities-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
    gap: 30px;
  }
  .global-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
    gap: 30px;
  }
  .blog-main{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
  }
  .page-content{
    display: flex;
    gap: 30px;
  }
  .page-img{
    flex:1 0 35%
  }
  .blog-content2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
    gap: 30px;
  }
  .container2{
    width: 60%;
  }
  .address-page{
    width: 100%;
    margin: 60px 70px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
}